*
{
    margin: 0;
    padding: 0;
}
body
{
    font-family: 'Open Sans', sans-serif;
    color:#686868;
}
.HomePage
{
    background-image:url(img/business-21.jpg);
    background-size: 100% 100%;
    height: 950px;
}
.HomePage .bg
{
    background-color: rgb(0,0,0,0.7);
    height:950px;
    width: 100%
}
.nav 
{
   
}
.nav .logo
{
    float:left;
    padding: 10px 20px;
}
.nav .logo img
{
    width:37%;
    padding: 20px 50px;
}
.nav ul
{
    list-style-type: none;
    padding-right: 10px;
}
.nav ul li
{
    float:right;
    padding-top: 30px;
    margin:auto;
}
.nav ul li a
{
    color:white;
    text-decoration: none;
    padding:50px 15px 15px;
    font-size: 14px;
    font-weight: 800;
}
.nav .btn
{
    float:right;
    background-color:white;
    width:110px;
    height:40px;
    border: none;
    border-radius: 4%;
    margin:23 100 0 0;
    font-weight: 600;
    color: #666666;
}

.clr
{
    clear:both;
}
.caption
{
    text-align: center;
    margin: 18% auto;
    width: 80%;
}
.caption p , .caption2 p
{
    font-size: 20px;
    color: white;
}
.caption h1
{
    font-size: 50px;
    padding: 30px;
    color: white;
    font-weight:100; 
    text-align: center;
}
.caption button ,.section4 .secret button ,.caption2 button
{
    width:150px;
    height: 50px;
    border-radius: 4%;
    background-color: #4caf50;
    font-weight: 700;
    border-style: none;
    color: white;
}
.section2
{
    background-color: white;
    padding:100px;
    height: 180px;
}
.section2 .sectionimg
{
    float:left;
    width:6.5%;
}
.section2 .sectionContent
{
    float:left;
    width: 26%;
    padding: 5px 0px ;
}
.section2 .sectionimg img
{
    display: inline-block;
    height: 30px;
    width: 30px;
    padding: 10px 10px;
}
.section3
{
    text-align: center;
    margin: auto;
    padding:5% 0%;
    background-color: #fafafa;
}
.section3 h2
{
    color:black;
    font-weight: 200;
    padding: 2%;
    font-size: 38;
}
.section3 p
{
    font-size: 20;
}
.Sections
{
     padding-top: 3%; 
}
.Section
{
    width: 28%;
    display: inline-block;
    padding:1%
}
.Section img
{
    width:100%;
    height:45%
}
.Section .SubSection
{
    background-color: white;
    text-align: left;
    padding: 4%;
}
 h3
{
    color: black;
    font-weight: 100;
}
.Section .SubSection p,.section4 .secret p ,.section2 .sectionContent p
{
    padding: 3% 0;
    font-size: 16;
}
.section4
{
    height:550px;
    margin: auto;
    padding:6% 3%;
    background-color:white;
}
.section4 .secret
{
    margin:10% auto;
    float: left;
    width: 45%; 
    padding: 2% 4%;
    background-color: white;
}
.section4 .secret h3
{
    padding: 5px;
    font-size: 28;
}
.section4 .secret ul
{
    list-style-type:none;
    padding:25px 0px;
}
.section4 .secretimg
{
    width: 45%;
    float:left;
}
.section4 .secretimg img
{
   width: 100%;
}
.section5
{
    background-image: url(img/full-2.jpg);
    background-size: 100% 100%;
    background-attachment: fixed;
    height: 550px;
}
.section5 .secbg
{
    background-color: rgb(0,0,0,0.3);
    height:100%;
    width: 100%
}
.caption2
{
    text-align: center;
    margin: auto;
    width: 69%;
    padding: 10%;
}
.caption2 h2
{
    color: white;
    font-size: 30;
    font-weight: 200;
}
.caption2 p
{
    padding: 40px;
    font-size: 22;
}
.section6
{
   height: 400px;
}
.section6 .Subsection6
{
     background-image: url(img/contact-details-map.png);
    background-size: 100% 100%;
    height: 400px;
}
.section6 .Subsection6 .secbg
{
    background-color: rgb(0,0,0,0.9);
    height:400px;
    width:25%;
    float:right;
}
.section6 .Sec
{
    float:left;
}
.section6 .Sec h3
{
    color: white;
}